/* User Styles styles
-------------------------------------------------- */

#id_fullname {
	width:100%;
}

#id_email {
	width: 100%;
}

#id_message {
	width:100%;
}

.row {
  margin-top: 25px;
}

.body-content {
  margin-top: 25px;
}

.sm-space {
  margin-left: 10px;
}

.navbar-inverse .navbar-nav>li>a {
	color:#fff;
}

.container .jumbotron {
	margin-top: 30px;
}