{% extends 'base.html' %}

    {% block jumbotron %}
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Products Arrived</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <a class="btn btn-large btn-success" href="#">Get started today</a>
      </div>
      
      
      {% endblock %}
      
      
      {% block content %}
      
          
      {% for product in products %}
      
        <div class='col-lg-4'>
          
          <h3><a href='{% url "products" %}{{ product.slug }}'>{{ product }}</a></h3>
                    {% for image in product.productimage_set.all %}
                      {% if forloop.first %}
            <a href='{% url "products" %}{{ product.slug }}'><img src='{{ MEDIA_URL }}{{ image }}' class='img-responsive'></a>
            {% endif %}
            {% endfor %}
          {{ product.description|truncatewords:10 }}<br/>
          {{ product.price }}

          
        </div>
        {% if forloop.counter|divisibleby:4 %}
                    </div> <hr/>
                    <div class='row-fluid'>
        {% endif %}
        {% endfor %}

      {% endblock %}