    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">Enchanted</a>
        <div class="nav-collapse">
          <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'products' %}">Products</a></li>
                <li><a href="{% url 'contact_us' %}">Contact</a></li>
                 <li><a href="{% url 'cart' %}">Cart <span class='badge badge-info'>{{ request.session.cart_items }}</span></a></li>
                 
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><button href="/accounts/register/" class='btn btn-primary'>Log In</button></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>